.storybook-button {
  display: inline-block;
  cursor: pointer;
  border: 1px solid #000;
  background-color: transparent;
  border-radius: 0.5em;
  padding: 0.5em 0.6em;
  line-height: 1;
  font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.storybook-button--small {
  font-size: 12px;
}

.storybook-button--medium {
  font-size: 14px;
}

.storybook-button--large {
  font-size: 16px;
}