.storybook-label {
    display: inline-flex;
    color: #000;
    border: 1px solid #D5D5D5;
    background-color: #F1F1F1;
    padding: 0.3em 0.5em;
    border-radius: 0.3em;
    margin-right: 0.2em;
    line-height: 1;
    font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}