.storybook-placeholder {
  border: 1px solid #d5d5d5;
  background-color: #fafafa;
  line-height: 1;
  font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  padding: 0.4em 0.6em;
  color: #000;
  border-radius: 0.6em;
  width: 100%;
  box-sizing: border-box;
}